<!DOCTYPE html>
<html>
      <head>
           <title>back-Task4</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
            <h2>{{>header}} </h2>
            <h2 class="hed1">{{title}} page content</h2>
            <h2><span>Country name:</span> {{country}} </h2>
            <h2><span>Latitude:</span> {{latitude}} </h2>
            <h2><span>longitude:</span> {{longitude}} </h2>
            <h2><span>Weather:</span> {{weather}} </h2>
            <h2><span>Temperature:</span> {{temperature}} </h2>
      </body>
</html>